<section>

    <h2>Register a new user</h2>

    <form [formGroup]="userForm" (ngSubmit)="save()" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="49">
                <input matInput placeholder="Name*" type="text" formControlName="name" autocomplete="off" />
            </mat-form-field>

            <mat-form-field fxFlex="49">
                <input matInput placeholder="E-mail*" type="text" formControlName="email" autocomplete="off" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="49">
                <input matInput placeholder="Password*" type="password" formControlName="password1" type="password" autocomplete="password">
            </mat-form-field>

            <mat-form-field fxFlex="49">
                <input matInput placeholder="Repeat password*" type="password" formControlName="password2" type="password" autocomplete="password">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">Save</button>
        </div>
    </form>
</section>